<br><br><br>


<div id="fh5co-explore" class="fh5co-bg-section">
			
		<div class="fh5co-explore fh5co-explore1">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-md-push-5 animate-box">
            <img class="img-responsive" src="../assets/images/work_1.png" alt="work">By the seaside in the wind. No better place to be!
					</div>
					<div class="col-md-5 col-md-pull-7 animate-box">
						<div class="mt">
							<h3>Who Am I?</h3>
							<p>
                  I am currently a 3D Artist at Funomena.<br><br>
                  Storytelling is what drove me to pursue 
                  a career in art. As a kid I loved to read, but in later I fell in love with how film and games tell 
                  stories create experiences in visual and interactive ways.<br><br>
                  I also have a passion for science and education. 3D art appeals to me because it 
                  requires an interest in learning about a variety of subjects, a love of art, and the ability to use and understand 
                  technology. Using technology to create art is what I do..
                </p>
							<!-- <p><a class="btn btn-primary btn-lg popup-vimeo btn-video" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play"></i> Watch Video</a></p> -->
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
