

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="fh5co-nav " style="background-color: #2E3436">
    <div class="top">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div id="fh5co-logo"><a href="">Allena <span>Hail</span></a></div>
                </div>
                <div class="col-xs-9 text-right menu-1">
                    <ul >
                        <li ><a href="">Home</a></li>
                        <li class="has-dropdown">
                            <a>Portfolio</a>
                            <ul class="dropdown">
                                <li><a href="/2DArt">2D Art</a></li>
                                <li><a href="/technical">Technical</a></li>
                                <li><a href="/3DModels">3D Models</a></li>
                            </ul>
                        </li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    
</nav>




