<br><br>

<div id="fh5co-project" style="margin: 0 5%">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>2D Art</h2><hr>
				</div>
			</div>
    </div>
    
    <div class="container">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h3>Sketches And Studies</h3>
          </div>
        </div>
      </div>
		<div class="container-fluid proj-bottom">
			<div class="row">
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a class="image-popup" href="../assets/images/1.gif"><img src="../assets/images/1.gif"class="img-responsive">
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a class="image-popup" href="../assets/images/13.jpg"><img src="../assets/images/13.jpg" class="img-responsive">
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn" >
					<a class="image-popup" href="../assets/images/27.jpg"><img src="../assets/images/27.jpg" class="img-responsive" >
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a class="image-popup" href="../assets/images/26.png"><img src="../assets/images/26.png" class="img-responsive">
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn" >
					<a class="image-popup" href="../assets/images/14.jpg"><img src="../assets/images/14.jpg" class="img-responsive">
						
					</a>
				</div>
				
    </div><hr style="border-width: 3px; width: 80%;">
    


    <div class="container">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h3>Character Design</h3>
          </div>
        </div>
      </div>
		<div class="container-fluid proj-bottom">
			<div class="row">
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a class="image-popup" href="../assets/images/31.jpg"><img src="../assets/images/31.jpg"class="img-responsive">
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a class="image-popup" href="../assets/images/30.jpg"><img src="../assets/images/30.jpg" class="img-responsive">
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn" >
					<a class="image-popup" href="../assets/images/8.jpg"><img src="../assets/images/8.jpg" class="img-responsive" >
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a class="image-popup" href="../assets/images/6.jpg"><img src="../assets/images/6.jpg" class="img-responsive">
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn" >
					<a class="image-popup" href="../assets/images/12.jpg"><img src="../assets/images/12.jpg" class="img-responsive">
						
					</a>
			</div>
    </div><hr style="border-width: 3px; width: 80%;">
    

    <div class="container">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h3>Illustrations And Concept Art</h3>
          </div>
        </div>
      </div>
		<div class="container-fluid proj-bottom">
			<div class="row">
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a class="image-popup" href="../assets/images/23.jpg"><img src="../assets/images/23.jpg"class="img-responsive">
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a class="image-popup" href="../assets/images/24.jpg"><img src="../assets/images/24.jpg" class="img-responsive">
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn" >
					<a class="image-popup" href="../assets/images/25.jpg"><img src="../assets/images/25.jpg" class="img-responsive" >
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a class="image-popup" href="../assets/images/19.jpg"><img src="../assets/images/19.jpg" class="img-responsive">
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn" >
					<a class="image-popup" href="../assets/images/20.jpg"><img src="../assets/images/20.jpg" class="img-responsive">
						
					</a>
			</div>
			<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
				<a class="image-popup" href="../assets/images/21.jpg"><img src="../assets/images/21.jpg" class="img-responsive">
					
				</a>
			</div>
			<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
				<a class="image-popup" href="../assets/images/22.jpg"><img src="../assets/images/22.jpg" class="img-responsive">
					
				</a>
			</div>
		</div>
	</div>
