<br><br>


<div id="fh5co-project" style="margin: 0 5%">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Engines And Technical Art</h2><hr>
				</div>
			</div>
    </div>
    
    <div class="container">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h3>Unreal Engine 4</h3>
          </div>
        </div>
      </div>
		<div class="container-fluid proj-bottom">
			<div class="row">
          <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
              <a class="popup-youtube" href="https://www.youtube.com/watch?v=N-Y3vnFs_zE"><img src="../assets/images/40.PNG"  class="img-responsive">
                <br><br><h3>Lords Mobile</h3>
              </a>
            </div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a class="popup-vimeo" href="https://www.youtube.com/watch?v=bZTDAkhBKwA"><img src="../assets/images/41.PNG" class="img-responsive">
						<br><br> <h3>VD19</h3>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a class="popup-vimeo" href="https://www.youtube.com/watch?v=HaBxazWjLIc"><img src="../assets/images/42-1.PNG" class="img-responsive">
						<br><br> <h3>Lords Mobile</h3>
					</a>
        </div>
        

            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading"><br><br>
              <p>These three videos are of "high poly game play" for advertising purposes. I took or created  high poly assets and mocked up the 
                game-play as closely as possible for trailers and cinematic shots. Environments were adjusted from the original to increase texture 
                quality and mesh density. Because the original game was not built in UE4, I was also tasked with setting up AI and animations blueprints 
                for the characters so that they did not have to be manually moved around in Matinee in order to duplicate game play scenarios. Most effects 
                had to be recreated, and often the environment had to be expanded. Rendering done in UE4.</p>
            </div>
      </div>
      
      <div class="row">
          <div class="col-md-6 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
              <a class="image-popup" href="../assets/images/2.jpg"><img src="../assets/images/2.jpg" class="img-responsive">
                
              </a>
            </div>
				<div class="col-md-6 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a class="image-popup" href="../assets/images/4.jpg"><img src="../assets/images/4.jpg" class="img-responsive">
						
					</a>
        </div>
        <div class="col-md-8 col-md-offset-2 fh5co-heading"><br><br>
          <p>Cinematic shots set up in Unreal Engine 4.<br><br>
              I was responsible for transferring the game environment to UE4, making it higher resolution, including model adjustments and texture upgrades. 
              I created materials for models and effects and implemented many of the FX and particles. <br><br>
              Characters were imported from existing assets, and I guided their movements and animations with both Matinee as AI systems. </p>
        </div>

      </div>


    </div><hr style="border-width: 3px; width: 80%;">
    


    <div class="container">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h3>Maya Tools - Python and Mel Scripts</h3>
          </div>
        </div>
      </div>
		<div class="container-fluid proj-bottom">
			<div class="row">
          <div class="col-md-8 col-md-offset-2 fh5co-heading"><br><br>
            <p><strong>Joint Controller.</strong>Quickly takes the selected joint/bone and adds the selected curve as a controller via a parent constraint. 
              Creates a null group above the curve at the location and orientation of the joint, passing it to the curve which maintains zero rotation,
               translation, and scale. Python.</p> <a href="../assets/files/JointController.py" download> Download Joint Controller</a>
          </div>
          
          <div class="col-md-8 col-md-offset-2 fh5co-heading"><br><br>
            <p><strong>Rotate Special.</strong> Designed to quickly grab Vertices or CVs on the selected object or curve so you can rotate them a specific amount. 
              Great for adjusting controllers positions on rigs. Python.</p> <a href="../assets/files/RotateSpecial.py" download> Download Rotate Special</a>
          </div>

          <div class="col-md-8 col-md-offset-2 fh5co-heading"><br><br>
            <p><strong>Simple Duplicate Special. </strong>Useful for quickly mirroring objects and other simple and often used functions of duplicate special with quick buttons. 
              MEL.</p> <a href="../assets/files/SimpleDuplicateSpecial.mel" download> Download Simple Duplicate Special</a>
          </div>
			</div>
    
<!-- LATER FOR LUNA -->
<!--
    <div class="container">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h3>Houdini's Rosabelle</h3>
          </div>
        </div>
      </div>

      <div class="container-fluid proj-bottom">
          <div class="row">
              <div class="col-md-5 col-md-push-1 fh5co-project animate-box" data-animate-effect="fadeIn">
                  <a href="#"><img src="../assets/images/project-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Web Master</h3>
                    <span>View Course</span>
                  </a>
                </div>
                <div class="col-md-5 col-md-push-1 fh5co-heading"><br><br>
                <p>This is test section of the game "Houdini's Rosebelle" I created, with art concepts by Ashley Kliment. I did all modeling, rigging, texturing and Unity 
                  implementation on this project in order to teach myself more about the artistic and technical game pipeline. <br><br>

                  This started as a 3D modeling project which I took in to Unity on my own time,  in order to learn more about scripting and game engines.  </p> <a href="">Click here to play a quick demo. Collect the star!</a>
              </div>
              
              </div>
              <div class="row">
                  <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a class="image-popup" href="#"><img src="../assets/images/project-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                      <h3>Web Master</h3>
                      <span>View Course</span>
                    </a>
                  </div>
                  <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a class="image-popup" href="#"><img src="../assets/images/project-2.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                      <h3>Virtual Assistant</h3>
                      <span>View Course</span>
                    </a>
                  </div>
                  <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a class="image-popup" href="#"><img src="../assets/images/project-3.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                      <h3>Read Bible</h3>
                      <span>View Course</span>
                    </a>
                  </div>
                  <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a class="image-popup" href="#"><img src="../assets/images/project-9.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                      <h3>Programming</h3>
                      <span>View Course</span>
                    </a>
                  </div>
                  <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a class="image-popup" href="#"><img src="../assets/images/project-5.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                      <h3>Technician</h3>
                      <span>View Course</span>
                    </a>
                  </div>
                  <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a class="image-popup" href="#"><img src="../assets/images/project-6.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                      <h3>Photography</h3>
                      <span>View Course</span>
                    </a>
                  </div>
                </div>
            
            </div><hr style="border-width: 3px; width: 80%;">

            <div class="container">
                <div class="row animate-box">
                  <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h3>Tremble</h3>
                  </div>
                </div>
              </div>
            <div class="container-fluid proj-bottom">
                <div class="row">
                    <div class="col-md-5 col-md-push-1 fh5co-project animate-box" data-animate-effect="fadeIn">
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=qL7Hd-vmRG0"><img src="../assets/images/project-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                          <h3>Web Master</h3>
                          <span>View Course</span>
                        </a>
                      </div>
                      <div class="col-md-5 col-md-push-1 fh5co-heading"><br><br>
                      <p>Tremble is a 2D/3D survival horror game made in collaboration between SJSU Animation/Illustration students and UCSC Game Design Students.<br><br>

                          I worked as Art Lead, helping bring the technical and artistic sides of the game together, and facilitating the creation of art which supports 
                          and enriches the game play. Created in Unity.  </p> <a href="http://www.tremblegame.com/">http://www.tremblegame.com/</a>
                    </div>
                    
                    </div>
                  
                  </div><hr style="border-width: 3px; width: 80%;">
                -->

                 
                        
	</div>
